@use 'src/styles/vars';

.quizz {
  margin: 0 auto;
  width: 375px;
  height: 100vh;
  background-color: vars.$background-color;
  box-sizing: border-box;
  padding: 2rem;

  &-difficulty {
    font-weight: 700;
    text-align: center;
  }

  &-length {
    margin-top: 4rem;
    color: vars.$secondary-color;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: left;

    &::after {
      content: '';
      display: block;
      margin-top: 0.3rem;
      height: 1px;
      width: 100%;
      background-color: vars.$secondary-color;
    }
  }

  &-question {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
  }
}
